.root {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
    padding-top: 64px;

    h2 {
        padding: 0;
        color: #efc04f;
    }
}
