.root {
    border-radius: 50%;
    padding: 64px 16px 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.coinIcon {
    border-radius: 50%;
    width: 256px;
    height: 256px;
}
