.root {
    border-radius: 50%;
    padding: 16px 16px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.coinIcon {
    border-radius: 50%;
    width: 100%;
}


.videoContainer {
    z-index: 999;
    width: 50%;
}
