.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: center;
    padding-top: 10%;
}

.mintButton {
    border-radius: 8px;
    border: 1px solid white;
    padding: 12px;
    background-color: #3d5cff;
    margin-bottom: 32px;
}

.inviteText {
    color: white;
    font-size: 12px;
    text-align: center;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
}

.socialIcon {
    width: 36px;
    height: 36px;
}

.copyLinkButton {
    border: 1px solid white;
    padding: 8px;
    border-radius: 8px;
    font-size: 10px;
    color: white;
}
