.timerContainer {
    padding-top: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.timer {
    color: #ffffff;
    opacity: 0.8;
    font-size: 12px;
}

.coins {
    font-size: 18px;
    opacity: 1;
}
