:root {
    background-color: #010101;
    color: #010101;

    color-scheme: light dark;
    line-height: 1.5;
}

html {
    font-family: 'Press Start 2P', system-ui;
    font-style: normal;
    font-weight: 400;

}
